
foobar2000-SDK/
foobar2000 V1.6/
foobar2000 (x86)/
foobar2000 (x64)/
src/.vs/
src/packages/
src/x64/
src/Release/
src/Release FB2K/
src/Debug/
src/Debug FB2K/
component/foo_skipcount.dll
component/x64/foo_skipcount.dll
