!component/
foobar2000 (x64)/
!foobar2000 (x64)/doc/
!foobar2000 (x64).profile/user-components-x64/foo_skipcount/
foobar2000 (x86)/
!foobar2000 (x86)/doc/
!foobar2000 (x86)/profile/user-components/foo_skipcount/
foobar2000 V1.6/
!foobar2000 V1.6\doc/
!foobar2000 V1.6/components/foo_skipcount.dll
foobar2000-SDK/
!foobar2000-SDK/\foobar2000\foobar2000_component_client/foobar2000_component_client.vcxproj
!foobar2000-SDK\foobar2000\helpers/foobar2000_sdk_helpers.vcxproj
!foobar2000-SDK\foobar2000\SDK\foobar2000_SDK.vcxproj
!foobar2000-SDK\libPPUI/libPPUI.vcxproj
!foobar2000-SDK\pfc/pfc.vcxproj
!foobar2000-SDK\WTL
!pdbs/
src/.vs/
src/packages/
src/Release/
src/Release FB2K/
src/Debug/
src/Debug FB2K/
src/x64/
!foo_skipcount.sln
!src/foo_skipcount.vcxproj.user